
<script>
   $.backstretch("http://www.gamedots.mx/media/gd/animated-gifs-of-fighting-game-backgrounds-8.gif");
</script>

  <a href="<%= pages_superman_url %>"> <img class="tam1" src="https://lc-www-live-s.legocdn.com/r/www/r/catalogs/-/media/catalogs/characters/dimensions/mugshots/71236_1to1_mf_mugshot_superman_168.png?l.r2=1891380887" alt=""></a>
  <a href="<%= pages_batman_url %>">  <img class="tam2" src="https://mi-od-live-s.legocdn.com/r/www/r/catalogs/-/media/catalogs/characters/dimensions/mugshot%20december%202016/71200_71170-71174_1to1_mf_mugshot_batman_336.png?l.r2=-1434101541" alt=""> </a>


<div class="container">
  <div class="col-md-6 align">
    <form action="<%= pages_voto_superman_path %>" method="post">
      <input name="name" value="" placeholder="Name">
      <input name="email" value="" placeholder="Email"><br>
      <input type="submit" name="enviar" value="voto por superman">
    </form>
    <h2 class="font2"><%= @count1 %> votos para superman</h2>
  </div>
  <div class="col-md-6 align">
    <form action="<%= pages_voto_batman_path %>" method="post">
      <input name="name" value="" placeholder="Name">
      <input name="email" value="" placeholder="Email"> <br>
      <input type="submit" name="enviar" value="voto por batman">
    </form>
    <h2 class="font2"><%= @count2 %> votos para batman</h2>
  </div>
</div>
    <h2 class= "font1" ><%= flash[:notice]%> </h2>
